.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

.verMasTarde {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.GuardadoEtiqueta {
  font-size: 17px;
  color: rgb(92, 92, 61);
  font-weight: bold;
}
.AppCont {
  display: flex;
  margin-left: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col-6 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-basis: 50%;
}
