.containerDetail {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(245, 245, 240);
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.TituloDetail {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 60px;
  margin-right: 20px;
  height: 100%;
  line-height: 2em;
}

.DetalleDetail {
  font-size: 15px;
  margin-inline-end: 20px;
  color: rgba(141, 141, 120, 0.76);
  font-weight: bold;
}

.ContenidoDetail {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
}

.ContenidoLargoDetail {
  font-size: 20px;
  line-height: 2em;
}

.ContenidoDetailAutorDatos {
  display: flex;
  flex-direction: row;
}

.ContenidoDetailAutor {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  margin-top: 30px;
}

.ContenidoBotonEtiqueta {
  display: flex;
  flex-direction: row;
}

.ButtonEstiloEtiqueta {
  padding: 0.5rem 0;
  width: 11rem;
  background: rgb(255, 255, 255);
  color: rgba(141, 141, 120, 0.76);
  font-weight: bold;
  border: 1px solid rgb(214, 214, 194);
  margin-right: 20px;
  margin-top: 20px;
}

.ImgWrapperDetail {
  border-radius: 5px;
}

.ImgDetail {
  border-radius: 50%;
  object-fit: cover;
  height: 10%;
  width: 10%;
  border-color: white;
  border-style: solid;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-right: 20px;
}
